.card {
    border-radius: 5px;
    height: 700px;
    border: 1px solid black;
    width: 500px;
    padding: 5px;
    margin: 3px 6px;
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-around;
}

.image img {
    max-width: 500px;
    width: 500px;
}